/* Login */

.login-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.login-section__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
  margin: auto;
}

.login-section__form__item {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.login-section__form__submit {
  height: 50px;
}
