/* Login */

.login-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  margin-top: 0;
}

.login-section__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
  margin: auto;
}

.login-section__link {
  color: var(--text-color);
  text-decoration: underline;
}
