/* Global styles */

:root {
  --primary-color: #1d6154;
  --primary-color-hover: #0e2f28;
  --primary-color-active: black;

  --primary-bg-color: #fffef8;

  --button-bg-disabled: #a7a7a7;

  --logo-color: #b1663c;

  --text-color: #3d3d3d;

  --danger-color: #d65353;

  --footer-bg-color: white;

  --modal-separator-color: #b3b3b3;
  --modal-image-bg-color: #e8f1f6;
}

.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: auto;
  font-family: "Work Sans";
  font-size: 14px;
  background-color: var(--primary-bg-color);
}

.page__content {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1140px;
  margin: 75px auto 0px auto;
}

.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1400px;
  margin: 20px auto 0px auto;
}

.footer {
  display: flex;
  align-items: center;
  height: 60px;
  margin-top: auto;
  background-color: var(--footer-bg-color);
}
