/* Portfolio section */

.portfolio__title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}

.portfolio__title--edition {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
  margin-left: 132px;
}

.portfolio__filters {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 40px;
}

.portfolio__filters__button {
  margin-right: 10px;
}

.portfolio__gallery {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.portfolio__gallery img {
  width: 100%;
}
